In [1]:
bob = {'name': "Yorlys Oropeza", 'pay': 32000, 'age': 24, 'job': "Programer"}

In [2]:
sue = {'name': "Sue Jhons", 'pay': 35000, 'age': 45, 'job' : "analista"}

In [3]:
db = {}

In [4]:
db['bob'] = bob

In [5]:
db['sue'] = sue

In [6]:
for key in db:
    print(key, "=>", db)

bob => {'bob': {'name': 'Yorlys Oropeza', 'pay': 32000, 'age': 24, 'job': 'Programer'}, 'sue': {'name': 'Sue Jhons', 'pay': 35000, 'age': 45, 'job': 'analista'}}
sue => {'bob': {'name': 'Yorlys Oropeza', 'pay': 32000, 'age': 24, 'job': 'Programer'}, 'sue': {'name': 'Sue Jhons', 'pay': 35000, 'age': 45, 'job': 'analista'}}